// Header.scss

.main-header {
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: rgba(19, 17, 148, 0.4);
    z-index: 10;
  
    nav {
      .menu-toggle {
        display: none; // Hide the menu toggle button by default
      }
    }
  }
  
  .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 11px;
    font-size: 1.2rem;
    gap: 15px;
  
    a {
      color: #fff;
      text-decoration: none;
      transition: background-color 0.4s ease;
      padding: 10px;
      border-radius: 40px;
      font-size: 1.2rem;

  
      &.active,
      &:hover {
        background-color: rgba(21, 1, 134,0.7);
      }
    }
  }
  
  @media screen and (max-width: 800px) {
    .main-header nav {
        .menu-toggle {
            display: block; // Display the menu toggle button on small screens
            background-color: transparent;
            color: white;
            border: none;
            font-size: 1.1rem;
        }
    }
    
    .nav-links {
        display: none; // Hide the nav links on small screens
        position: absolute;
        background-color: rgba(19, 17, 148, 0.4);
        top: 100%;
        right: 0;
        gap: 16px;
        font-size: 1rem;
        z-index: 100;
  
      &.active,
      &:hover {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
      }

      a {
      color: #fff;
      transition: background-color 0.4s ease;
      padding: 8px;
      border-radius: 40px;
        }
    }
  
    .main-header {
        display: flex;
        flex-direction: row-reverse;
        padding: 18px;
    }
  
    .menu-icon {
      display: block; // Display the menu icon on small screens
    }
  
    .dropdown-menu {
      display: none; // Hide the dropdown menu by default
    }
  
    // Display the dropdown menu when the dropdown is open
    .dropdown-menu.open {
      display: block;
    }
  }
  