// Projects.scss

@import "../../../components/card/index.scss";

#projectsSection {
    display: flex;
    justify-content: center;
}

.projects-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    max-width: 1200px;
    margin: 0 40px auto;
}

.card {
    flex-basis: calc(33.33% - 25px); // Limit the width of the card of the container minus the gap
    margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
    .projects-cards {
        flex-direction: column;
    }
}

@media screen and (min-width: 769px) {
    .projects-cards {
        flex-direction: row;
    }
}