// About.scss

#aboutSection {
    background-color: rgba(19, 17, 148, 0.4);
}

// Background image
.about::before {
    content: "";
    position: fixed;
    top: -10%;
    left: 0;
    width: 100%;
    height: 55%;
    background-image: url("../../../../public/assets/images/BackgroundTop.webp");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}