// About.scss

@import "../../../components/sectionTitle/index.scss";

.section-row {
    font-size: 1.5rem;
    margin: 0 10rem;
}

#aboutSection {
    margin-bottom: 10vh;
}

.about {
    position: relative;
    padding-bottom: 100px;
    padding-top: 120px;
}

// Background image
.about::before {
    content: "";
    position: fixed;
    top: -10%;
    left: 0;
    width: 100%;
    height: 55%;
    background-image: url("../../../../public/assets/images/BackgroundTop.webp");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -10;
}