// Home.scss

h1, h2, p, a {
    font-family: 'montserrat', sans-serif;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

body {
    min-width: 380px;
    margin: 0 auto;
    background-color: rgb(146, 195, 238);
}

section {
    padding: 8vh 0;
}