// Skills.scss

#skillsSection {
    background-color: rgba(19, 17, 148, 0.4);
}

.skills {
    display: flex;
    flex-direction: column;
    margin-bottom: 2vh;
}

.skills-charts {
    display: flex;
    flex-direction: row;

    .section-row {
        font-size: 2.5rem;
    }
}

.hard-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.soft-skills {
    width: 50%;
    text-align: center;
    margin-right: 2rem;
}

.skills-chart {
    height: 50vh;
    width: 80%;
}

ul {
    font-size: 1.5rem;
    list-style-type: none;
    padding-left: 0;

    h2 {
        color: #1b1a1a;
        margin-bottom: 10px;
        font-size: 30px;
    }
     p {
            margin: 6px;
        }
    .skillLevel {
        font-style: italic;
        margin-bottom: 40px;
        }
}

// Background image
.skills::after {
    content: "";
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    z-index: -10;
}

@media screen and (max-width: 800px) {
    .skills-charts {
        flex-direction: column;
    }

    .skills-chart {
        height: 35vh;
        width: 100%;
    }
    .hard-skills, .soft-skills {
        width: 99%;
    }
    .soft-skills {
        margin-top: 30px;

        ul {
            padding-right: 0;
            }   
        li {
            margin: 0 50px 20px;
        }
    }
}