// Card.scss

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid rgba(19, 17, 148, 0.6);
    transition: transform 0.3s ease-in-out;
    color: #333;

    &:hover {
        transform: scale(1.05); // Grow the card on hover
    }
}

.miniature {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 75%;
    object-fit: cover;
}

.cardText {
    padding-left: 1rem;
}

.card h2, .card p {
    color: #333;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.card h2 {
    margin: 5px 0 2px 0;
}

.card p {
    margin: 0 10px 10px 10px;
}