// Intro.scss

.intro {

    h1 {
        text-align: center;
    }

    h2 {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        text-align: center;
    }

    .portrait {
        min-width: 380px;
        max-width: 640px;
    }

    .section-portrait {
        display: flex;
        justify-content: center;
        margin: 0 5%;
    }
}